.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    }
    .form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: white;
        border-radius: 15px;
        padding: 25px;
        width: 280px;
    }
    .form h1{
        text-align: center; 
        font-weight: 700;
        font-size: 25px;
        color:rgb(205, 155, 224) ;
    }
    
    
    .input{
        border: 1px solid rgb(187, 187, 187);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        outline: none;
    }
    .input::placeholder{
        font-size: 12px;
        
    }
    
    .input:focus{
        border: 2px solid rgb(221, 196, 231);
        outline: none;
    }
    
    .button{
        padding: 10px;
        border: none;
        background:rgb(221, 196, 231) ;
        border-radius: 15px;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    .button:hover{
        background: rgb(215, 181, 228);
    }
    
    .signIn{
        display: flex;
        font-size: 14px;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
    .signIn .link {
        text-decoration: none;
        color: rgb(215, 165, 235);
    }
    .signIn .link:hover{
        text-decoration: underline;
    }
    .or{
        text-align: center;
        font-size: 12px;
        color: rgb(205, 155, 224);
        margin-top: 20px;
    }
    .buttonGoogle{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 2px solid rgb(220, 183, 235);
        border-radius: 15px;
        padding: 8px;
      background: transparent;
      cursor: pointer;
      font-weight: 600;
      transition-duration: 0.3s;
    }
    .buttonGoogle:hover{
        background-color: rgb(220, 183, 235);
        
    }
    .error{
        background-color: rgb(230, 66, 66);
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 5px;
        font-size: 12px;
    }
    
    
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background:rgb(221, 196, 231) ;
    opacity: 70%;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
    pointer-events: none;
}