.wrapper {
    min-width: 18rem;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    min-height: 88vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}


.link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}
.link:hover{
    cursor: pointer;
    background-color: var(--primary-low);
}

.link.active {
    background-color: var(--primary-low);
}

.drawerContainer {
    height: 100%;
}
.drawerContainer aside {
    height: 100%;

}