.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 45px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    width: 280px;
}

.form h1{
    text-align: center; 
    font-weight: 700;
    font-size: 25px;
    color:rgb(205, 155, 224) ;
}


.input{
    border: 1px solid rgb(187, 187, 187);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}
.input::placeholder{
    font-size: 12px;
    
}

.input:focus{
    border: 2px solid rgb(221, 196, 231);
    outline: none;
}

.button{
    padding: 10px;
    border: none;
    background:rgb(221, 196, 231) ;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.button:hover{
    background: rgb(215, 181, 228);
}

.signIn{
    display: flex;
    font-size: 14px;
    gap: 5px;
}
.signIn .link {
    text-decoration: none;
    color: rgb(215, 165, 235);
}
.signIn .link:hover{
    text-decoration: underline;
}